<nav class="navbar navbar-default navbar-static-top navbar-second" role="navigation">
  <ul class="nav navbar-nav">
    <li class="active">
      <a id="textures">Textures</a>
    </li>
    <li>
      <a id="Fonts" class="disabled">Fonts</a>
    </li>
    <li>
      <a id="Audio" class="disabled">Audio</a>
    </li>
  </ul>
</nav>
<div class="content"></div>