<div class="col-md-12 column">
  <div class="row clearfix">
    <div class="col-md-8 column no-lpad no-rpad scenes-ctn">
    </div>
    <div class="col-md-4 column scenes-right-ctn">
      <nav class="navbar navbar-default navbar-static-top navbar-second" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active">
            <a id="scenes">Scenes</a>
          </li>
          <li>
            <a id="gameobjects" class="disabled">Game Objects</a>
          </li>
        </ul>
      </nav>
      <div class="content">

      </div>
    </div>
  </div>
</div>
