<div class="col-md-12 column">
  <div class="row clearfix">
    <div class="col-md-8 column">
      <div class="scenes-ctn"></div>
    </div>
    <div class="col-md-3 column scenes-types-ctn">
      <div></div>
    </div>
  </div>
</div>
