<div class="panel-heading">
  <h4 class="panel-title">
    <a class="accordion-toggle"
      data-toggle="collapse" data-parent="#accordion"
      href="#{{options.name}}-options">
      {{options.name}} : {{type}}
    </a>
  </h4>
</div>
<div id="{{options.name}}-options" class="panel-collapse collapse">
  <div class="panel-body"></div>
  <div class="panel-footer text-right">
    <button id="cancel" type="button" class="btn btn-default">Cancel</button>
    <button id="save" type="button" class="btn btn-primary">Save</button>
  </div>
</div>