<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <div class="checkbox">
      <label>
        <input id="value" type="checkbox" {{#if value}}checked{{/if}}> {{name}}
      </label>
    </div>
  </div>
</div>
