<div class="form-group">
  {{#if name}}
  <label id="label" class="col-sm-3 control-label">{{name}}</label>
  {{/if}}
  <div class="col-sm-{{#if name}}3{{else}}6{{/if}}">
    <input id="value" type="number" class="form-control" value="{{value}}">
  </div>
</div>