<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">{{settings.name}}</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">

      <li>
        <a id="settings" href="#">Settings</a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Events<strong class="caret"></strong>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#">ready</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">start</a>
          </li>
          <li>
            <a href="#">pause</a>
          </li>
          <li>
            <a href="#">resume</a>
          </li>
          <li>
            <a href="#">end</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">update</a>
          </li>
          <li>
            <a href="#">draw</a>
          </li>
        </ul>
      </li>
    </ul>

    <!--
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Link</a>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider">
          </li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </li>
    </ul>
  -->
  </div>

</nav>