<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="row clearfix">
      <div class="col-md-2 column">
      </div>
      <div class="col-md-3 column">
        <button id="create" type="button" class="btn btn-lg btn-primary">New Game</button>
      </div>
      <div class="col-md-2 column">
      </div>
      <div class="col-md-3 column">
        <button id="open" type="button" class="btn btn-lg btn-primary">Open Existing</button>
      </div>
      <div class="col-md-2 column">
      </div>
    </div>
  </div>
</div>