<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style>
      body {
        margin: 0;
        background-color: black;
      }

      #content {
        position: absolute;
        width: 100%;
        height: auto;
        height: 100%;
      }

      #content canvas {
        display: block;
        margin: 0 auto;
      }
    </style>

  </head>
  <body>
    <div id="content"></div>
    <script src="js/pac.js"></script>
    <script src="js/game.js"></script>
  </body>
</html>
